name: CI

on:
  pull_request:
    branches: [ master, feature/cicd ]


jobs:
  test-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install databricks-cli databricks-sdk pytest

      - name: Run tests
        run: pytest --maxfail=1 --disable-warnings

      - name: Validate Databricks Asset Bundle
        run: databricks bundle validate
